<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./tests/bootstrap.php"

    backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="NonceTests">
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
</phpunit>